<div id="<%= dom_id time_message %>">
  <p>
    <strong>Content:</strong>
    <%= time_message.content %>
  </p>

  <p>
    <strong>Datetoopen:</strong>
    <%= time_message.dateToOpen %>
  </p>

  <p>
    <strong>User:</strong>
    <%= time_message.user_email %>
  </p>

</div>
