<h1>Editing time message</h1>

<%= render "form", time_message: @time_message %>

<br>

<div>
  <%= link_to "Show this time message", @time_message %> |
  <%= link_to "Back to time messages", time_messages_path %>
</div>
